@charset "UTF-8";

label{
	font-size: xx-large;
}
.basicInfo label{
	font-size: large;
}
.basicInfo{
	max-width: 900px;
}
p{
	font-size: x-large;
}

.certificationList{
	width: 900px;
}
.certificationList th{
	text-align: center;
}
.certiGenre{
	width: 250px;
}
.mGenre{
	max-width: 250px;
}
.oGenre{
	max-width: 250px;
}
.certiName{
	width: 500px;
}
.mName{
	max-width: 500px;
}
.oName{
	max-width: 500px;
}
.certiDate{
	width: 150px;
}
.certificationList td{
	text-align: center;
	word-break: break-all;
}

.skillList{
	width: 900px;
}
.skillList th{
	text-align: center;
}
.skillGenre{
	width: 300px;
}
.sGenre{
	max-width: 300px;
}
.skillName{
	width: 600px;
}
.sName{
	max-width: 600px;
}
.skillList td{
	text-align: center;
	word-break: break-all;
}

.careerList{
	width: 900px;
}
.careerList th{
	text-align: center;
}
.careerName{
	width: 650px;
}
.cName{
	max-width: 650px;
}
.careerTerm{
	width: 250px;
}
.cTerm{
	max-width: 250px;
}
.careerList td{
	text-align: center;
	word-break: break-all;
}
.button{
	margin-left: 10px;
}
.deletebutton{
	margin-bottom: 20px;
	cursor: pointer;
  	background: #777;
  	color: #fff;
 	border-radius: 4px;
  	border: 1px solid var(--border-color);
  	border-top: solid 1px #888;
	border-left: solid 1px #888;
  	border-bottom: solid 2px #666;
	border-right: solid 2px #666;
	height: 30px;
	padding-left: 10px;
	padding-right: 10px;

}