.emp-table {
 /*	2020/6/17　サイズ調整開始*/
  /*width : 750px;*/
  width : 1300px;
}

.empList-number {
  width : 5%;
  text-align: center;
}
.empList-name {
  width : 15%;
  text-align: center;
}
/* 2020/6/17 追加*/
.empList-deployment{
	width : 15%;
	text-align: center;
}
.empList-profile {
  width : 30%;
  text-align: center;
}
/* 2020/6/17 追加*/
.empList-count{
	width : 3%;
	text-align: center;
}
/* 2020/6/17 追加*/
.empList-business{
	width : 25%;
	text-align: center;
}
.empList-edit {
  width : 7%;
  text-align: center;
}

.number-of-list {
  float: right;
  vertical-align: bottom;
  padding-bottom: 15px;
}

